* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;  
  font-family: 'Body', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

@font-face {
  font-family: 'FastHand';
  src: url('../assets/fonts/Fasthand-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Body';
  src: url('../assets/fonts/Domine-VariableFont_wght.ttf') format('truetype'); 
}
